<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VMeet</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <style>
        .box {
        width: 500px;
  border: 5px solid black;
  padding: 10px;
  margin: 20px;
  height: 200px;
        }
        .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   height: 30px;
   color: white;
   text-align: center;
}
    </style>
</head>
<body>
        <div class="jumbotron" style="background-color:black; height:170px;">
            <div class="container">
                <h1 class="title" style="color:white;">
                    VMeet
                </h1>
                <h3 style="color:white;">Stay Connected!</h3>
            </div>
        </div>

        <div class="container">
         <div class="row">
             <div class="col-md-12">
            <p>
                Lockdowns can be hard, but fun needn’t be. In this global pandemic, we are locked down in our own space with less opportunities to socialize which can negatively impact our mental health and thus leading to lower productivity.
Our project aims to connect you with your like-minded colleagues. Do you want take a break after a long meeting and game with some colleagues? Do you miss working out at the VMware gym and taking classes by your favorite instructors? Do you miss performing at VMware events? We have a platform for you, our web-application provides multiple spaces to cater to these needs at your leisure.
We aim to break the communication barrier caused by the pandemic by creating networking opportunities that improve mental health by engaging in community building activities. Our idea focuses on the Community aspect of VMware’s EPIC2 values.
            </p>
            </div>
        </div>
            <br>
        <div class="container">
            <div class="row row-cols-2">
                <div class="col-md-6">
                    <div class="box" style="text-align: center;"><p>
                        <span ><h2>Performances</h2></span>
                        <span><p>VMware got Talent! Click to participate or watch any performances.</p></span>
                        <button class="btn btn-info">Let's go</button>
                     </p>
                    </div>
                </div>
  <div class="col-md-6"><div class="box" style="text-align: center;"><p>
                        <span ><h2>Classes</h2></span>
                        <span><p>Contribute to your community by engaging teach new skills or pick up a new skill along with your colleagues.</p></span>
                        <button class="btn btn-info">Let's go</button>
                     </p>
                    </div></div>
            </div>
            <div class="row row-cols-2">
  <div class="col-md-6"><div class="box" style="text-align: center;"><p>
                        <span ><h2>Gaming</h2></span>
                        <span><p>Want to challenge a colleague in a game or a quiz? Click to compete..</p></span>
                        <button class="btn btn-info">Let's go</button>
                     </p>
                    </div></div>
  <div class="col-md-6"><div class="box" style="text-align: center;"><p>
                        <span ><h2>Know Your Colleague</h2></span>
                        <span><p>Open your space and learn about a colleague.</p></span>
                        <button class="btn btn-info">Let's go</button>
                     </p>
                    </div></div>
</div>
        </div>


    <div class="footer">
    </div>
</body>
</html>